@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Gloria+Hallelujah&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Delicious Handrawn', cursive;
    font-family: 'Gloria Hallelujah', cursive;
       
}

/*logo*/
a{
  text-decoration: none;
}
.head{
    padding: 20px;
}
#pin{
    color:#FF008A;
}

#ya{
    color: #FFDE59;
}

#bl{
    color: #38B6FF;
}

/*body*/
::selection{
  color: #fff;
  background:#9796F0;
}
body{
  background:linear-gradient(135deg,#9796F0, #FBC7D4 );
}

/*boxs*/
.select-box, .play-board, .result-box,.select-box2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.select-box ,.select-box2{
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}
.select-box.hide,.select-box2.hide{
  opacity: 0;
  pointer-events: none;
}
.select-box header,.select-box2 header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.select-box .title ,.select-box2 .title{
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}
.select-box .options,.select-box2 .options2{
  display: flex;
  width: 100%;
}
.options button , .options2 button{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background-image: linear-gradient(144deg,#E23F6A, #C63E81 50%);
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.options button:hover,
.btn button:hover,.options2 button:hover{
  transform: scale(0.96);
  background-image: linear-gradient(144deg,rgb(253, 191, 156), #F17173 50%);
}
.options button.playerX{
  margin-right: 5px;
}
.options button.playerO{
  margin-left: 5px;
}

.options button.eas{
  margin-right: 5px;

}
.options button.mid{
  margin: 5px;
}

.options2 button.dif{
  margin-left: 5px;
}
.select-box .credit , .select-box2 .credit{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.select-box .credit a {
  color: #9796F0;
  text-decoration: none;
}
.select-box .credit a:hover{
  text-decoration: underline;
}

/*play aria*/
.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details{
  padding: 7px;
  border-radius: 5px;
  background: #fff;
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.players span{
  position: relative;
  z-index: 2;
  color: #9796F0;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #9796F0;
}
.players span:first-child{
  color: #fff;
}
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #9796F0;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.players.active .slider{
  left: 50%;
}
.players.active span:first-child{
  color: #9796F0;
}
.players.active span:nth-child(2){
  color: #fff;
}
.players.active .slider{
  left: 50%;
}
.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{
  display: block;
  height: 90px;
  width: 90px;
  margin: 2px;
  color: #9796F0;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
}


/*resalt box*/
.result-box{
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.result-box .won-text p{
  font-weight: 600;
  margin: 0 5px;
}
.result-box .btn{
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn button{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background-image: linear-gradient(144deg,rgb(149, 148, 240), #FBC7D4 50%);
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn button:hover{
  background:rgb(241, 238, 255);
    color: #9796F0;
}


/*wave aria*/
#an{
 
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
}
#an .air{
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 100%;
  height: 100px;
 background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px
}
#an .air.air1{
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#an .air.air2{
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#an .air.air3{
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
#an .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}

/*defcaltstyle*/
.rb-box {
  width: 95%;
  max-width: 420px;
  margin: 20px auto;
  padding:10px;
  background: #fff;
  border-radius: .75em;
  -webkit-filter: drop-shadow(1px 2px 5px rgba(255,255,255,.1));
  filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  box-shadow: 
    0 2px 2px rgba(149, 148, 240,.5),
    0 0px 5px rgba(149, 148, 240,.15),
    0 0px 4px rgba(0,0,0,.35),
    0 5px 20px rgba(149, 148, 240,.25),
    0 15px 50px rgba(149, 148, 240,.75),
    inset 0 0 15px rgba(149, 148, 240,.05);
}

/* Custom Radio Button */
p {
  font-size: 20px;
}

.rb {
  padding: 16px 0;
  text-align: center;
  background: rgba(255,255,255,.03);
  border-radius: .3em;
}

.rb-tab {
  display: inline-block;
  position: relative;
  width: 20%;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #9796F0;
}

.rb-spot {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;
}

.rb-tab-active .rb-spot {
  
  border: 20px solid rgba(253, 191, 156,.8);
}

/* Submit Button */
.button-box {
  padding: 10px 0;
  text-align: center;
}

